Repository formancehq/ledger, changes with the labels that .github/labeler.yml gives for each.
All labels: @domain/core, @domain/api, @domain/ledger, @domain/storage, @domain/cmd, @domain/ci

feat: use cache
  pkg/core/account.go
  pkg/storage/sqlstorage/accounts.go
Labels: none

feat: reenable CI
  .github/workflows/main.yml
Labels: @domain/ci

feat: review
  pkg/storage/sqlstorage/commit.go
  pkg/storage/sqlstorage/driver.go
  pkg/storage/sqlstorage/store_ledger.go
  pkg/storage/sqlstorage/volumes.go
  pkg/storage/transactional.go
Labels: none

fix: fix go-libs tests with traces (#487)
  libs/go.mod
  libs/go.sum
  libs/otlp/cli.go
  libs/otlp/otlptraces/cli_test.go
  libs/otlp/otlptraces/traces_test.go
Labels: none

fix: fix go-libs tests with traces (#487)
  libs/go.mod
  libs/go.sum
  libs/otlp/cli.go
  libs/otlp/otlptraces/cli_test.go
  libs/otlp/otlptraces/traces_test.go
Labels: none

feat: optimize ledgerv1 (#453)
  Dockerfile
  go.mod
  go.sum
  pkg/api/controllers/transaction_controller_test.go
  pkg/core/account.go
  pkg/ledger/ledger.go
  pkg/ledger/ledger_test.go
  pkg/storage/sqlstorage/accounts.go
  pkg/storage/sqlstorage/aggregations.go
  pkg/storage/sqlstorage/commit.go
  pkg/storage/sqlstorage/driver.go
  pkg/storage/sqlstorage/logs.go
  pkg/storage/sqlstorage/store_ledger.go
  pkg/storage/sqlstorage/transactions.go
  pkg/storage/sqlstorage/volumes.go
  pkg/storage/transactional.go
Labels: none

fix(storage): fix parsing balances to big int
  pkg/storage/sqlstorage/balances.go
Labels: none

fix(balances): add tests with big ints
  pkg/storage/sqlstorage/balances_test.go
  pkg/storage/sqlstorage/store_ledger_test.go
Labels: none

fix(storage): fix parsing balances to big int (#455)
  pkg/storage/sqlstorage/balances.go
  pkg/storage/sqlstorage/balances_test.go
  pkg/storage/sqlstorage/store_ledger_test.go
Labels: none

fix(accounts): fix bloom filter empty
  pkg/storage/sqlstorage/accounts.go
  pkg/storage/sqlstorage/aggregations.go
  pkg/storage/sqlstorage/store_ledger.go
Labels: none

fix(ledger/store): fill bloom filter at store init
  pkg/storage/sqlstorage/accounts.go
  pkg/storage/sqlstorage/store_ledger.go
Labels: none

fix(accounts): fix bloom filter empty (#456)
  pkg/storage/sqlstorage/accounts.go
  pkg/storage/sqlstorage/aggregations.go
  pkg/storage/sqlstorage/store_ledger.go
Labels: none

feat: upgrade speakeasy (#507)
  libs/go.mod
  libs/go.sum
  libs/migrations/migrator.go
  libs/publish/nats.go
  openapi.yaml
Labels: none

feat: upgrade speakeasy (#507)
  libs/go.mod
  libs/go.sum
  libs/migrations/migrator.go
  libs/publish/nats.go
  openapi.yaml
Labels: none

compute needed balances to request them in advance
  pkg/machine/examples/basic.go
  pkg/machine/script/compiler/compiler.go
  pkg/machine/script/compiler/compiler_test.go
  pkg/machine/script/compiler/source.go
  pkg/machine/vm/involved_balances.go
  pkg/machine/vm/machine.go
  pkg/machine/vm/machine_test.go
  pkg/machine/vm/program/program.go
Labels: none

fixes
  pkg/machine/script/compiler/compiler.go
  pkg/machine/vm/involved_balances.go
  pkg/machine/vm/machine.go
  pkg/machine/vm/machine_conditionals_test.go
  pkg/machine/vm/machine_test.go
  pkg/machine/vm/program/program.go
Labels: none

fix: segments matching
  pkg/storage/sqlstorage/transactions.go
Labels: none

fix: disable test with sqlite
  pkg/storage/sqlstorage/balances_test.go
Labels: none

fix: segments matching (#458)
  pkg/storage/sqlstorage/balances_test.go
  pkg/storage/sqlstorage/transactions.go
Labels: none

feat: add 'disableChecks' query param on revert endpoint
  pkg/api/controllers/swagger.yaml
  pkg/api/controllers/transaction_controller.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/api/internal/testing.go
  pkg/ledger/benchmarks_test.go
  pkg/ledger/execute_script_test.go
  pkg/ledger/execute_txsdata.go
  pkg/ledger/execute_txsdata_test.go
  pkg/ledger/ledger.go
  pkg/ledger/ledger_test.go
Labels: none

feat: add 'disableChecks' query param on revert endpoint (#459)
  pkg/api/controllers/swagger.yaml
  pkg/api/controllers/transaction_controller.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/api/internal/testing.go
  pkg/ledger/benchmarks_test.go
  pkg/ledger/execute_script_test.go
  pkg/ledger/execute_txsdata.go
  pkg/ledger/execute_txsdata_test.go
  pkg/ledger/ledger.go
  pkg/ledger/ledger_test.go
Labels: none

chore: init subrepo
  .gitrepo
Labels: none

git subrepo pull --remote=ledger --branch=main --force components/ledger
  .gitrepo
Labels: none

chore: Update release flow for Ledger
  .github/workflows/release.yml
  .goreleaser.ledger.yml
Labels: @domain/ci

git subrepo init --remote=ledger --branch=main components/ledger
  .gitrepo
Labels: none

chore: Update release flow
  .github/workflows/release.yml
  .goreleaser.ledger.yml
Labels: @domain/ci

chore: Update release flow
  .github/workflows/release.yml
Labels: @domain/ci

chore: Update release flow
  .goreleaser.ledger.yml
Labels: none

chore: Update release flow
  .github/workflows/release.yml
Labels: @domain/ci

chore: Update release flow for Ledger
  .github/workflows/release.yml
  .goreleaser.ledger.yml
Labels: @domain/ci

fix: ledger event + integration tests (#531)
  internal/bus/message.go
  internal/bus/monitor.go
Labels: none

feat: Clean SDK directory and add yq in devbox (#534)
  internal/bus/monitor_test.go
  internal/machine/vm/machine.go
  internal/storage/ledgerstore/transactions_test.go
  libs/migrations/migrator.go
Labels: none

feat(fctl): delete metadata (#532)
  internal/api/v1/controllers_info_test.go
  internal/api/v2/controllers_transactions.go
  internal/bus/message.go
  internal/engine/command/commander.go
  openapi.yaml
Labels: none

feat: lint + tidy
  go.mod
Labels: none

fix: tests
  internal/api/v2/controllers_info_test.go
Labels: none

feat: add an option to configure the ledger v2 as read only (#551)
  cmd/container.go
  cmd/serve.go
  internal/api/module.go
  internal/api/read_only.go
  internal/api/router.go
  internal/api/v1/routes.go
Labels: @domain/cmd

fix: comparable avaiable in go 1.20 (#555)
  go.mod
Labels: none

chore: Create FUNDING.yml
  .github/FUNDING.yml
Labels: @domain/ci

fix(ledger): do not use caches when using multiple instances
  cmd/container.go
  pkg/api/api.go
  pkg/storage/sqlstorage/accounts.go
  pkg/storage/sqlstorage/aggregations.go
  pkg/storage/sqlstorage/driver.go
  pkg/storage/sqlstorage/logs.go
  pkg/storage/sqlstorage/module.go
  pkg/storage/sqlstorage/store_ledger.go
  pkg/storage/sqlstorage/transactions.go
Labels: @domain/cmd

fix tests
  cmd/internal/analytics_test.go
  pkg/analytics/segment_test.go
  pkg/ledgertesting/storage.go
  pkg/storage/sqlstorage/accounts_test.go
  pkg/storage/sqlstorage/driver_test.go
Labels: @domain/cmd

.github/labeler.yml:

'@domain/core':
  - core/*
  - core/**/*

'@domain/api':
  - api/*
  - api/**/*

'@domain/ledger':
  - ledger/*
  - ledger/**/*

'@domain/storage':
  - storage/*
  - storage/**/*

'@domain/cmd':
  - cmd/*
  - cmd/**/*

'@domain/ci':
  - .github/*
  - .github/**/*
