Repository formancehq/ledger, changes with the labels that .github/labeler.yml gives for each.
All labels: @domain/core, @domain/api, @domain/ledger, @domain/storage, @domain/cmd, @domain/ci

remove cache set when not single writer
  pkg/storage/sqlstorage/accounts.go
  pkg/storage/sqlstorage/aggregations.go
  pkg/storage/sqlstorage/logs.go
  pkg/storage/sqlstorage/transactions.go
  pkg/storage/sqlstorage/volumes.go
Labels: none

renaming
  pkg/storage/sqlstorage/accounts.go
  pkg/storage/sqlstorage/aggregations.go
  pkg/storage/sqlstorage/logs.go
  pkg/storage/sqlstorage/store_ledger.go
  pkg/storage/sqlstorage/transactions.go
  pkg/storage/sqlstorage/volumes.go
Labels: none

remove useless field
  pkg/api/api.go
Labels: none

fixes
  cmd/container.go
  pkg/storage/sqlstorage/store_ledger.go
Labels: @domain/cmd

fix tests
  pkg/storage/sqlstorage/logs.go
  pkg/storage/sqlstorage/transactions.go
Labels: none

more tests
  pkg/ledgertesting/storage.go
  pkg/storage/sqlstorage/accounts_test.go
  pkg/storage/sqlstorage/migrates/13-clean-logs/any_test.go
  pkg/storage/sqlstorage/migrates/17-optimized-segments/any_test.go
  pkg/storage/sqlstorage/migrates/9-add-pre-post-volumes/any_test.go
  pkg/storage/sqlstorage/store_ledger_test.go
Labels: none

fix condition
  pkg/ledger/execute_script.go
  pkg/storage/sqlstorage/accounts.go
  pkg/storage/sqlstorage/aggregations.go
  pkg/storage/sqlstorage/logs.go
  pkg/storage/sqlstorage/store_ledger.go
  pkg/storage/sqlstorage/transactions.go
  pkg/storage/sqlstorage/volumes.go
Labels: none

fix(ledger): do not use caches when using multiple instances (#467)
  cmd/container.go
  cmd/internal/analytics_test.go
  pkg/analytics/segment_test.go
  pkg/ledger/execute_script.go
  pkg/ledgertesting/storage.go
  pkg/storage/sqlstorage/accounts.go
  pkg/storage/sqlstorage/accounts_test.go
  pkg/storage/sqlstorage/aggregations.go
  pkg/storage/sqlstorage/driver.go
  pkg/storage/sqlstorage/driver_test.go
  pkg/storage/sqlstorage/logs.go
  pkg/storage/sqlstorage/migrates/13-clean-logs/any_test.go
  pkg/storage/sqlstorage/migrates/17-optimized-segments/any_test.go
  pkg/storage/sqlstorage/migrates/9-add-pre-post-volumes/any_test.go
  pkg/storage/sqlstorage/module.go
  pkg/storage/sqlstorage/store_ledger.go
  pkg/storage/sqlstorage/store_ledger_test.go
  pkg/storage/sqlstorage/transactions.go
  pkg/storage/sqlstorage/volumes.go
Labels: @domain/cmd

feat: agent version on connection metadata (#559)
  libs/.github/dependabot.yml
  libs/.github/workflows/codeql.yml
  libs/.github/workflows/main.yml
  libs/.github/workflows/pr-open.yml
  libs/.gitignore
  libs/.golangci.yml
  libs/.pre-commit-config.yaml
  libs/collectionutils/slice.go
  libs/contextutil/contextutil.go
  libs/pgtesting/postgres.go
Labels: none

feat: add db upgrade (#541)
  internal/storage/driver/cli.go
Labels: none

fix: ledger read only mode (#565)
  internal/api/router.go
Labels: none

git subrepo pull --remote=ledger --branch=main --force components/ledger
  .github/FUNDING.yml
  .gitrepo
Labels: @domain/ci

git subrepo pull --remote=ledger --branch=main --force components/ledger
  .gitrepo
Labels: none

deps: Update deps
  go.mod
  go.sum
Labels: none

git subrepo pull (merge) --remote=ledger --branch=main components/ledger
  .github/workflows/main.yml
  .github/workflows/release.yml
  .gitrepo
Labels: @domain/ci

fix(ledger): fix curl error when publishing (#609)
  .goreleaser.ledger.yml
  .goreleaser.yml
Labels: none

feat(payments): add filters for transfer-initiation (#584)
  internal/api/v1/controllers_accounts.go
  internal/api/v1/controllers_accounts_test.go
  internal/api/v1/controllers_balances.go
  internal/api/v1/controllers_balances_test.go
  internal/api/v1/controllers_info.go
  internal/api/v1/controllers_info_test.go
  internal/api/v1/controllers_transactions.go
  internal/api/v1/controllers_transactions_test.go
  internal/api/v1/utils.go
  internal/api/v2/controllers_accounts_test.go
  internal/api/v2/controllers_balances_test.go
  internal/api/v2/controllers_info_test.go
  internal/api/v2/controllers_transactions_test.go
  internal/api/v2/utils.go
  internal/storage/ledgerstore/accounts.go
  internal/storage/ledgerstore/accounts_test.go
  internal/storage/ledgerstore/balances.go
  internal/storage/ledgerstore/balances_test.go
  internal/storage/ledgerstore/logs.go
  internal/storage/ledgerstore/logs_test.go
  internal/storage/ledgerstore/transactions.go
  internal/storage/ledgerstore/transactions_test.go
  internal/storage/ledgerstore/utils.go
  libs/query/expression.go
  libs/query/expression_test.go
  libs/query/mapping.go
Labels: none

feat: add secrets handling for configuration (#575)
  go.mod
Labels: none

chore: Add posibility for desactivate open browser
  cmd/root.go
  cmd/ui.go
Labels: @domain/cmd

chore: Add sub-params for desactivate auto open browser (#468)
  cmd/root.go
  cmd/ui.go
Labels: @domain/cmd

feat: add a sql connection pool by ledger (#637)
  cmd/container.go
  cmd/storage.go
  go.mod
  go.sum
  internal/analytics/analytics_test.go
  internal/analytics/backend.go
  internal/analytics/backend_test.go
  internal/api/backend/backend.go
  internal/api/backend/backend_generated.go
  internal/api/v1/controllers_accounts_test.go
  internal/api/v1/controllers_balances_test.go
  internal/api/v1/controllers_config_test.go
  internal/api/v1/controllers_info_test.go
  internal/api/v1/controllers_transactions_test.go
  internal/api/v2/controllers_accounts_test.go
  internal/api/v2/controllers_balances_test.go
  internal/api/v2/controllers_config_test.go
  internal/api/v2/controllers_info_test.go
  internal/api/v2/controllers_transactions_test.go
  internal/engine/ledger.go
  internal/engine/stats.go
  internal/machine/script/parser/NumScript.interp
  internal/machine/script/parser/NumScriptLexer.interp
  internal/storage/driver/cli.go
  internal/storage/driver/driver.go
  internal/storage/ledgerstore/accounts.go
  internal/storage/ledgerstore/logs.go
  internal/storage/ledgerstore/main_test.go
  internal/storage/ledgerstore/transactions.go
  internal/storage/ledgerstore/transactions_test.go
  internal/storage/ledgerstore/utils.go
  internal/storage/storagetesting/storage.go
  libs/go.mod
  libs/go.sum
  libs/query/expression.go
Labels: @domain/cmd

feat: share code inside libs (#642)
  internal/bus/message.go
  internal/bus/monitor.go
Labels: none

fix(balances): missing delimiters for regexp
  pkg/storage/sqlstorage/balances.go
  pkg/storage/sqlstorage/balances_test.go
  pkg/storage/sqlstorage/store_ledger_test.go
Labels: none

add more tests
  pkg/ledgertesting/storage.go
  pkg/storage/sqlstorage/accounts_test.go
  pkg/storage/sqlstorage/balances_test.go
  pkg/storage/sqlstorage/store_ledger_test.go
  pkg/storage/sqlstorage/transactions_test.go
Labels: none

uncomment
  pkg/storage/sqlstorage/store_ledger_test.go
Labels: none

fix(balances): missing delimiters for regexp (#469)
  pkg/ledgertesting/storage.go
  pkg/storage/sqlstorage/accounts_test.go
  pkg/storage/sqlstorage/balances.go
  pkg/storage/sqlstorage/balances_test.go
  pkg/storage/sqlstorage/store_ledger_test.go
  pkg/storage/sqlstorage/transactions_test.go
Labels: none

fix(ledger): fix panic when checking last log id
  pkg/storage/sqlstorage/transactions.go
Labels: none

fix(ledger): fix panic when checking last log (#470)
  pkg/storage/sqlstorage/transactions.go
Labels: none

feat: Replace devbox & moon by Earthly (#647) Also add dev environment.
  Earthfile
  libs/api/utils.go
  libs/httpserver/serverport.go
  libs/moon.yml
  libs/publish/messages.go
  libs/publish/module.go
  libs/service/app.go
  libs/service/context.go
  moon.yml
Labels: none

feat: add stable cursor (#655)
  internal/api/v2/controllers_accounts_test.go
  internal/api/v2/controllers_balances_test.go
  internal/api/v2/controllers_transactions_test.go
  internal/api/v2/utils.go
Labels: none

fix: slow pg tests (#786)
  internal/storage/driver/driver_test.go
  internal/storage/ledgerstore/accounts_test.go
  internal/storage/ledgerstore/balances_test.go
  internal/storage/ledgerstore/transactions_test.go
  internal/storage/paginate/pagination_column_test.go
  internal/storage/paginate/pagination_offset_test.go
  libs/migrations/migrator_test.go
Labels: none

feat: add bulk on ledger (#781)
  benchmarks/ledger_test.go
  internal/api/bulk/bulk.go
  internal/api/shared/errors.go
  internal/api/v2/controllers_bulk.go
  internal/api/v2/controllers_bulk_test.go
  internal/api/v2/controllers_transactions.go
  internal/api/v2/controllers_transactions_test.go
  internal/api/v2/routes.go
  internal/script.go
  internal/transaction.go
  libs/api/query.go
  libs/pgtesting/postgres.go
  openapi.yaml
Labels: none

feat(ledger): add tests on big int support (#827)
  internal/storage/ledgerstore/accounts_test.go
  internal/storage/ledgerstore/balances_test.go
  libs/pgtesting/postgres.go
Labels: none

feat: add balances aggregation by metadata (#826)
  Earthfile
  internal/api/bulk/bulk.go
  internal/api/v2/controllers_bulk.go
  internal/api/v2/controllers_bulk_test.go
  internal/api/v2/controllers_transactions_test.go
  internal/api/v2/utils.go
  internal/script.go
  internal/storage/ledgerstore/balances.go
  internal/storage/ledgerstore/balances_test.go
  internal/storage/ledgerstore/transactions.go
  internal/transaction.go
Labels: none

fix: support of 'expand' on accounts list (#828)
  internal/account.go
  openapi.yaml
Labels: none

feat: add 'force' query param to force reverts even if the source accounts does not have enough funds (#829)
  internal/api/backend/backend.go
  internal/api/backend/backend_generated.go
  internal/api/bulk/bulk.go
  internal/api/v1/controllers_transactions.go
  internal/api/v1/controllers_transactions_test.go
  internal/api/v2/controllers_bulk_test.go
  internal/api/v2/controllers_transactions.go
  internal/api/v2/controllers_transactions_test.go
  internal/engine/command/commander.go
  internal/engine/command/commander_test.go
  internal/engine/ledger.go
  internal/errors.go
  internal/machine/internal/funding.go
  internal/machine/machine.go
  internal/machine/machine_test.go
  internal/machine/vm/errors.go
  internal/machine/vm/machine.go
  internal/machine/vm/machine_overdraft_test.go
  internal/machine/vm/machine_test.go
  internal/numscript.go
  internal/storage/inmemory.go
  internal/storage/ledgerstore/balances_test.go
  internal/transaction.go
  openapi.yaml
Labels: none

feat: Add benchmarks (#450)
  internal/engine/command/lock.go
  libs/otlp/otlpmetrics/module.go
Labels: none

fix: missing big ints un openapispec / sdk (#830)
  internal/machine/vm/machine_overdraft_test.go
  openapi.yaml
Labels: none

fix: import from https://github.com/formancehq/ledger/pull/454/files (#831)
  internal/machine/vm/machine.go
  internal/machine/vm/machine_test.go
Labels: none

.github/labeler.yml:

'@domain/core':
  - core/*
  - core/**/*

'@domain/api':
  - api/*
  - api/**/*

'@domain/ledger':
  - ledger/*
  - ledger/**/*

'@domain/storage':
  - storage/*
  - storage/**/*

'@domain/cmd':
  - cmd/*
  - cmd/**/*

'@domain/ci':
  - .github/*
  - .github/**/*
