Repository formancehq/ledger, changes with the labels that .github/labeler.yml gives for each.
All labels: @domain/core, @domain/api, @domain/ledger, @domain/storage, @domain/cmd, @domain/ci

feat(Numscript): Send monetary with arithmetic (#215)
  pkg/core/value.go
  pkg/machine/script/compiler/compiler.go
  pkg/machine/script/compiler/compiler_test.go
  pkg/machine/script/compiler/source.go
  pkg/machine/vm/machine.go
  pkg/machine/vm/machine_test.go
  pkg/machine/vm/program/instructions.go
Labels: none

feat(Numscript): Send monetary with arithmetic (#215)
  pkg/core/value.go
  pkg/machine/script/compiler/compiler.go
  pkg/machine/script/compiler/compiler_test.go
  pkg/machine/script/compiler/source.go
  pkg/machine/vm/machine.go
  pkg/machine/vm/machine_test.go
  pkg/machine/vm/program/instructions.go
Labels: none

feat(Numscript): Send monetary with arithmetic (#215)
  pkg/core/value.go
  pkg/machine/script/compiler/compiler.go
  pkg/machine/script/compiler/compiler_test.go
  pkg/machine/script/compiler/source.go
  pkg/machine/vm/machine.go
  pkg/machine/vm/machine_test.go
  pkg/machine/vm/program/instructions.go
Labels: none

ci: Upgrade
  .github/workflows/main.yml
  .github/workflows/template_sdk-publish.yaml
  sdk/configs/python.yaml
  sdk/configs/typescript-node.yaml
Labels: @domain/ci

ci: Update Dockerfile flow
  .github/workflows/template_sdk-publish.yaml
  Dockerfile
Labels: @domain/ci

feat: remove tracer from health road (#274)
  Dockerfile
Labels: none

feat: remove tracer from health road (#274)
  Dockerfile
Labels: none

feat: remove tracer from health road (#274)
  Dockerfile
Labels: none

feat: add otel metrics lib in go libs (#289)
  go.mod
  go.sum
  libs/go.mod
  libs/go.sum
  libs/otlp/cli.go
  libs/otlp/otlpmetrics/cli.go
  libs/otlp/otlpmetrics/module.go
  libs/otlp/otlpmetrics/otlpexporter.go
  libs/otlp/otlpmetrics/stdoutexporter.go
  libs/otlp/otlptraces/cli.go
Labels: none

feat: add otel metrics lib in go libs (#289)
  go.mod
  go.sum
  libs/go.mod
  libs/go.sum
  libs/otlp/cli.go
  libs/otlp/otlpmetrics/cli.go
  libs/otlp/otlpmetrics/module.go
  libs/otlp/otlpmetrics/otlpexporter.go
  libs/otlp/otlpmetrics/stdoutexporter.go
  libs/otlp/otlptraces/cli.go
Labels: none

feat: add otel metrics lib in go libs (#289)
  go.mod
  go.sum
  libs/go.mod
  libs/go.sum
  libs/otlp/cli.go
  libs/otlp/otlpmetrics/cli.go
  libs/otlp/otlpmetrics/module.go
  libs/otlp/otlpmetrics/otlpexporter.go
  libs/otlp/otlpmetrics/stdoutexporter.go
  libs/otlp/otlptraces/cli.go
Labels: none

chore: Improve Goreleaser management & CI (#278)
  .goreleaser.yml
Labels: none

chore: Improve Goreleaser management & CI (#278)
  .goreleaser.yml
Labels: none

chore: Improve Goreleaser management & CI (#278)
  .goreleaser.yml
Labels: none

feat(ledger): Add monorepo info in GoReleaser
  .goreleaser.yml
Labels: none

feat(ledger): Add monorepo info in GoReleaser
  .goreleaser.yml
Labels: none

feat(ledger): Add monorepo info in GoReleaser
  .goreleaser.yml
Labels: none

feat: set GOMAXPROCS=2 for benchmarks
  Taskfile.yaml
Labels: none

feat: disallow empty accounts
  pkg/machine/internal/account.go
  pkg/machine/machine_test.go
  pkg/machine/vm/machine_test.go
Labels: none

fix: memory leak
  Taskfile.yaml
  benchmarks/ledger_test.go
  pkg/ledger/command/commander.go
  pkg/ledger/ledger.go
  pkg/ledger/query/worker.go
Labels: none

feat: make cache works in parallel (#170)
  pkg/core/account.go
  pkg/ledger/cache/cache.go
  pkg/ledger/cache/cache_test.go
  pkg/ledger/cache/main_test.go
  pkg/ledger/ledger.go
  pkg/ledger/runner/runner.go
Labels: none

feat: allow core to handle transactions aynchronously
  pkg/api/controllers/account_controller.go
  pkg/api/controllers/account_controller_test.go
  pkg/api/controllers/api.go
  pkg/api/controllers/api_test.go
  pkg/api/controllers/transaction_controller.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/ledger/ledger.go
  pkg/ledger/ledger_test.go
  pkg/ledger/query/worker.go
  pkg/ledger/query/worker_test.go
  pkg/ledger/revert/reverter.go
  pkg/ledger/revert/reverter_test.go
Labels: none

feat: rename preview to dry run
  openapi.yaml
  pkg/api/controllers/account_controller_test.go
  pkg/api/controllers/transaction_controller.go
  pkg/api/controllers/transaction_controller_test.go
Labels: none

feat: add internal channel for views computing (#161)
  pkg/api/controllers/ledger_controller_test.go
  pkg/api/controllers/pagination_test.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/api/internal/testing.go
  pkg/ledger/cache/cache_test.go
  pkg/ledger/ledger.go
  pkg/ledger/ledger_test.go
  pkg/ledger/main_test.go
  pkg/ledger/query/module.go
  pkg/ledger/query/worker.go
  pkg/ledger/query/worker_test.go
  pkg/ledger/resolver.go
  pkg/ledger/runner/runner.go
  pkg/ledger/runner/runner_test.go
  pkg/storage/driver.go
  pkg/storage/sqlstorage/ledger/logs.go
  pkg/storage/sqlstorage/ledger/migrates/18-v2/postgres.sql
  pkg/storage/sqlstorage/ledger/store_test.go
  pkg/storage/sqlstorage/ledger/transactions.go
  pkg/storage/sqlstorage/worker/worker.go
  pkg/storage/sqlstorage/worker/worker_test.go
Labels: none

feat: add openapi spec validation on integration tests (#133)
  openapi.yaml
Labels: none

feat: remove wrapper on GET /_info (#108)
  openapi.yaml
  pkg/api/controllers/config_controller.go
  pkg/api/controllers/config_controller_test.go
Labels: none

feat: remove unnecessary storage abstractions (#147)
  cmd/container_test.go
  cmd/internal/analytics_test.go
  cmd/storage.go
  pkg/analytics/segment.go
  pkg/analytics/segment_test.go
  pkg/api/controllers/account_controller.go
  pkg/api/controllers/account_controller_test.go
  pkg/api/controllers/balance_controller.go
  pkg/api/controllers/config_controller.go
  pkg/api/controllers/config_controller_test.go
  pkg/api/controllers/ledger_controller.go
  pkg/api/controllers/ledger_controller_test.go
  pkg/api/controllers/query.go
  pkg/api/controllers/transaction_controller.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/api/internal/testing.go
  pkg/ledger/execute_script.go
  pkg/ledger/ledger.go
  pkg/ledger/ledger_test.go
  pkg/ledger/resolver.go
  pkg/ledger/stats.go
  pkg/ledgertesting/storage.go
  pkg/storage/driver.go
  pkg/storage/sqlstorage/driver.go
  pkg/storage/sqlstorage/driver_test.go
  pkg/storage/sqlstorage/ledger/accounts.go
  pkg/storage/sqlstorage/ledger/accounts_test.go
  pkg/storage/sqlstorage/ledger/balances.go
  pkg/storage/sqlstorage/ledger/balances_test.go
  pkg/storage/sqlstorage/ledger/logs.go
  pkg/storage/sqlstorage/ledger/migrates/13-clean-logs/any_test.go
  pkg/storage/sqlstorage/ledger/migrates/17-optimized-segments/any_test.go
  pkg/storage/sqlstorage/ledger/migrates/9-add-pre-post-volumes/any_test.go
  pkg/storage/sqlstorage/ledger/store.go
  pkg/storage/sqlstorage/ledger/store_test.go
  pkg/storage/sqlstorage/ledger/transactions.go
  pkg/storage/sqlstorage/ledger/transactions_test.go
  pkg/storage/sqlstorage/module.go
  pkg/storage/storage.go
Labels: @domain/cmd

feat: optimize cache (#181)
  pkg/api/apierrors/errors.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/core/log.go
  pkg/ledger/cache/cache.go
  pkg/ledger/cache/cache_test.go
  pkg/ledger/cache/main_test.go
  pkg/ledger/ledger.go
  pkg/ledger/memprofile.out
  pkg/ledger/profile.out
  pkg/ledger/query/worker.go
  pkg/ledger/query/worker_test.go
  pkg/ledger/runner/runner.go
  pkg/machine/examples/basic.go
  pkg/machine/machine.go
  pkg/machine/machine_test.go
  pkg/machine/vm/errors.go
  pkg/machine/vm/machine.go
  pkg/machine/vm/machine_test.go
  pkg/machine/vm/program/program.go
  pkg/machine/vm/store.go
  pkg/storage/driver.go
  pkg/storage/sqlstorage/ledger/accounts.go
  pkg/storage/sqlstorage/ledger/accounts_test.go
  pkg/storage/sqlstorage/ledger/store_test.go
Labels: none

feat: add cache eviction and make retention and eviction period configurable
  cmd/container.go
  cmd/internal/main_test.go
  cmd/main_test.go
  cmd/serve.go
  pkg/ledger/cache/cache.go
  pkg/ledger/cache/cache_test.go
  pkg/ledger/cache/memprofile.out
  pkg/ledger/cache/profile.out
  pkg/ledger/ledger.go
  pkg/ledger/lock/lock.go
  pkg/ledger/module.go
  pkg/ledger/resolver.go
  pkg/ledger/runner/runner.go
  pkg/storage/sqlstorage/cli.go
Labels: @domain/cmd

chore(moon): Tasks management improvement
  Dockerfile
  Taskfile.yaml
  build.Dockerfile
  pkg/machine/script/parser/NumScript.interp
  pkg/machine/script/parser/NumScriptLexer.interp
Labels: none

feat: add migrations from v1.9.x to v2.x (#266)
  cmd/root.go
  go.mod
  pkg/core/log.go
  pkg/storage/sqlstorage/ledger/main_test.go
  pkg/storage/sqlstorage/ledger/migrates/0-init-schema/any.go
  pkg/storage/sqlstorage/ledger/migrates/0-init-schema/postgres.sql
  pkg/storage/sqlstorage/migrations/migrations.go
  pkg/storage/sqlstorage/migrations/migrations_test.go
Labels: @domain/cmd

feat: use pointers for logs instead of value to avoid copy and too many gc call
  pkg/core/log.go
  pkg/ledger/command/commander.go
  pkg/ledger/command/commander_test.go
  pkg/ledger/query/module_test.go
  pkg/ledger/query/worker_test.go
  pkg/storage/sqlstorage/ledger/logs_test.go
  pkg/storage/sqlstorage/worker/worker_test.go
Labels: none

fix: cache (concurrent read cause multiple db accesses) (#178)
  pkg/ledger/cache/cache.go
  pkg/ledger/cache/cache_test.go
  pkg/ledger/memprofile.out
  pkg/ledger/profile.out
  pkg/storage/sqlstorage/ledger/accounts_test.go
  pkg/storage/sqlstorage/ledger/store_test.go
Labels: none

fix: stop worker if stop chan is used (#164)
  pkg/ledger/query/worker.go
Labels: none

feat: remove sqlite from ledger (#109)
  Taskfile.yaml
  cmd/container.go
  cmd/container_test.go
  cmd/internal/analytics_test.go
  cmd/root.go
  cmd/root_test.go
  cmd/storage.go
  cmd/storage_test.go
  go.mod
  go.sum
  pkg/analytics/segment_test.go
  pkg/api/api.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/api/internal/testing.go
  pkg/ledgertesting/storage.go
  pkg/storage/sqlstorage/accounts.go
  pkg/storage/sqlstorage/accounts_test.go
  pkg/storage/sqlstorage/aggregations.go
  pkg/storage/sqlstorage/balances.go
  pkg/storage/sqlstorage/driver.go
  pkg/storage/sqlstorage/driver_test.go
  pkg/storage/sqlstorage/flavor.go
  pkg/storage/sqlstorage/logs.go
  pkg/storage/sqlstorage/migrate.go
  pkg/storage/sqlstorage/migrate_test.go
  pkg/storage/sqlstorage/migrates/17-optimized-segments/any_test.go
  pkg/storage/sqlstorage/module.go
  pkg/storage/sqlstorage/schema.go
  pkg/storage/sqlstorage/sqlite.go
  pkg/storage/sqlstorage/store_ledger.go
  pkg/storage/sqlstorage/store_ledger_test.go
  pkg/storage/sqlstorage/transactions.go
Labels: @domain/cmd

wip
  pkg/ledger/revert/reverter.go
Labels: none

feat: add a metric on bench
  benchmarks/ledger_test.go
Labels: none

feat: remove deprecated json fields and query params (#100)
  pkg/api/apierrors/errors.go
  pkg/api/controllers/account_controller.go
  pkg/api/controllers/account_controller_test.go
  pkg/api/controllers/balance_controller.go
  pkg/api/controllers/ledger_controller.go
  pkg/api/controllers/ledger_controller_test.go
  pkg/api/controllers/query.go
  pkg/api/controllers/script_controller.go
  pkg/api/controllers/script_controller_test.go
  pkg/api/controllers/transaction_controller.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/storage/sqlstorage/accounts.go
  pkg/storage/sqlstorage/balances.go
  pkg/storage/sqlstorage/logs.go
  pkg/storage/sqlstorage/transactions.go
Labels: none

feat: add idempotency at log level
  openapi.yaml
  pkg/api/controllers/account_controller.go
  pkg/api/controllers/account_controller_test.go
  pkg/api/controllers/api.go
  pkg/api/controllers/api_test.go
  pkg/api/controllers/query.go
  pkg/api/controllers/transaction_controller.go
  pkg/api/controllers/transaction_controller_test.go
  pkg/core/log.go
  pkg/core/numscript.go
  pkg/core/script.go
  pkg/core/transaction.go
  pkg/core/transaction_test.go
  pkg/ledger/command/commander.go
  pkg/ledger/command/commander_test.go
  pkg/ledger/command/lock.go
  pkg/ledger/command/store.go
  pkg/storage/driver.go
  pkg/storage/sqlstorage/ledger/logs.go
  pkg/storage/sqlstorage/ledger/logs_test.go
  pkg/storage/sqlstorage/ledger/migrates/0-init-schema/postgres.sql
Labels: none

test: add CQRS integration tests (#163)
  openapi.yaml
  pkg/api/apierrors/errors.go
  pkg/ledger/ledger.go
  pkg/ledger/query/worker.go
Labels: none

.github/labeler.yml:

'@domain/core':
  - core/*
  - core/**/*

'@domain/api':
  - api/*
  - api/**/*

'@domain/ledger':
  - ledger/*
  - ledger/**/*

'@domain/storage':
  - storage/*
  - storage/**/*

'@domain/cmd':
  - cmd/*
  - cmd/**/*

'@domain/ci':
  - .github/*
  - .github/**/*
