Repository formancehq/ledger, changes with the labels that .github/labeler.yml gives for each.
All labels: @domain/core, @domain/api, @domain/ledger, @domain/storage, @domain/cmd, @domain/ci

fix: metadata update conflict
  pkg/ledger/query/metadata_updater.go
  pkg/ledger/query/move_updater.go
  pkg/ledger/query/move_updater_test.go
  pkg/ledger/query/projector.go
  pkg/storage/inmemory.go
Labels: none

fix: missing moves in transactions migration
  pkg/storage/ledgerstore/migrates/0-init-schema/any.go
Labels: none

feat: refine database indices
  pkg/storage/ledgerstore/migrates/0-init-schema/postgres.sql
Labels: none

feat: refine database indices
  pkg/storage/ledgerstore/migrates/0-init-schema/postgres.sql
Labels: none

fix: metadata update conflict
  pkg/ledger/query/metadata_updater.go
  pkg/ledger/query/move_updater.go
  pkg/ledger/query/move_updater_test.go
  pkg/ledger/query/projector.go
  pkg/storage/inmemory.go
Labels: none

fix: lock
  libs/collectionutils/linked_list.go
  pkg/ledger/command/lock.go
  pkg/ledger/command/lock_test.go
Labels: none

fix: migrations
  cmd/root.go
  cmd/storage.go
  libs/collectionutils/linked_list.go
  libs/service/logging.go
  pkg/ledger/query/projector.go
  pkg/ledger/utils/job/jobs.go
  pkg/storage/database.go
  pkg/storage/driver/cli.go
  pkg/storage/driver/driver.go
  pkg/storage/flags.go
  pkg/storage/ledgerstore/logs.go
  pkg/storage/ledgerstore/main_test.go
  pkg/storage/ledgerstore/migrates/0-init-schema/any.go
  pkg/storage/ledgerstore/migrates/0-init-schema/postgres.sql
  pkg/storage/ledgerstore/transactions.go
  pkg/storage/migrations/migrations.go
  pkg/storage/storagetesting/storage.go
Labels: @domain/cmd

fix: lock
  libs/collectionutils/linked_list.go
  pkg/ledger/command/lock.go
  pkg/ledger/command/lock_test.go
Labels: none

feat: reuse batching worker for logs ingestion
  pkg/bus/monitor.go
  pkg/core/log.go
  pkg/ledger/command/commander.go
  pkg/ledger/command/commander_test.go
  pkg/ledger/command/context.go
  pkg/ledger/command/store.go
  pkg/ledger/ledger.go
  pkg/ledger/query/projector.go
  pkg/ledger/query/projector_test.go
  pkg/ledger/resolver.go
  pkg/ledger/utils/batching/batcher.go
  pkg/storage/driver/cli.go
  pkg/storage/driver/driver.go
  pkg/storage/ledgerstore/logs.go
  pkg/storage/ledgerstore/logs_test.go
  pkg/storage/ledgerstore/logs_worker.go
  pkg/storage/ledgerstore/main_test.go
  pkg/storage/ledgerstore/migrates/0-init-schema/any.go
  pkg/storage/ledgerstore/store.go
  pkg/storage/ledgerstore/transactions.go
  pkg/storage/storagetesting/storage.go
  pkg/storage/tx.go
Labels: none

fix: migrations
  cmd/root.go
  cmd/storage.go
  libs/collectionutils/linked_list.go
  libs/service/logging.go
  pkg/ledger/query/projector.go
  pkg/ledger/utils/job/jobs.go
  pkg/storage/database.go
  pkg/storage/driver/cli.go
  pkg/storage/driver/driver.go
  pkg/storage/flags.go
  pkg/storage/ledgerstore/logs.go
  pkg/storage/ledgerstore/main_test.go
  pkg/storage/ledgerstore/migrates/0-init-schema/any.go
  pkg/storage/ledgerstore/migrates/0-init-schema/postgres.sql
  pkg/storage/ledgerstore/transactions.go
  pkg/storage/migrations/migrations.go
  pkg/storage/storagetesting/storage.go
Labels: @domain/cmd

fix: missing moves in transactions migration
  pkg/storage/ledgerstore/migrates/0-init-schema/any.go
Labels: none

feat: reuse batching worker for logs ingestion
  pkg/bus/monitor.go
  pkg/core/log.go
  pkg/ledger/command/commander.go
  pkg/ledger/command/commander_test.go
  pkg/ledger/command/context.go
  pkg/ledger/command/store.go
  pkg/ledger/ledger.go
  pkg/ledger/query/projector.go
  pkg/ledger/query/projector_test.go
  pkg/ledger/resolver.go
  pkg/ledger/utils/batching/batcher.go
  pkg/storage/driver/cli.go
  pkg/storage/driver/driver.go
  pkg/storage/ledgerstore/logs.go
  pkg/storage/ledgerstore/logs_test.go
  pkg/storage/ledgerstore/logs_worker.go
  pkg/storage/ledgerstore/main_test.go
  pkg/storage/ledgerstore/migrates/0-init-schema/any.go
  pkg/storage/ledgerstore/store.go
  pkg/storage/ledgerstore/transactions.go
  pkg/storage/storagetesting/storage.go
  pkg/storage/tx.go
Labels: none

feat: add example of metrics export to prometheus
  docker-compose.yml
  examples/basic-auth/docker-compose.yml
  examples/jaeger-exporter/docker-compose.yml
  examples/multi-node/docker-compose.yml
  examples/otlp-exporter/docker-compose.yml
  examples/otlp-exporter/otel-collector-config.yaml
  examples/otlp-exporter/prometheus.yaml
  examples/publisher-http/docker-compose.yml
  examples/publisher-kafka/docker-compose.yml
Labels: none

feat: add example of metrics export to prometheus
  docker-compose.yml
  examples/basic-auth/docker-compose.yml
  examples/jaeger-exporter/docker-compose.yml
  examples/multi-node/docker-compose.yml
  examples/otlp-exporter/docker-compose.yml
  examples/otlp-exporter/otel-collector-config.yaml
  examples/otlp-exporter/prometheus.yaml
  examples/publisher-http/docker-compose.yml
  examples/publisher-kafka/docker-compose.yml
Labels: none

fix(wallets): missing enum for error code (#454)
  openapi.yaml
Labels: none

fix(wallets): missing enum for error code (#454)
  openapi.yaml
Labels: none

feat: make /balances accept multiple addresses
  pkg/api/controllers/balance_controller.go
  pkg/api/controllers/pagination_test.go
  pkg/ledger/ledger.go
  pkg/ledger/storage.go
  pkg/storage/sqlstorage/balances.go
  pkg/storage/sqlstorage/balances_test.go
  pkg/storage/sqlstorage/pagination.go
Labels: none

feat: make /balances accept multiple addresses (#450)
  pkg/api/controllers/balance_controller.go
  pkg/api/controllers/pagination_test.go
  pkg/ledger/ledger.go
  pkg/ledger/storage.go
  pkg/storage/sqlstorage/balances.go
  pkg/storage/sqlstorage/balances_test.go
  pkg/storage/sqlstorage/pagination.go
Labels: none

fix: payments migration if not exists (#456)
  libs/migrations/migrator.go
Labels: none

fix: payments migration if not exists (#456)
  libs/migrations/migrator.go
Labels: none

chore: Upgrade all deps for dev (#430)
  moon.yml
Labels: none

chore: Upgrade all deps for dev (#430)
  moon.yml
Labels: none

feat: add logging
  libs/otlp/otlpmetrics/module.go
Labels: none

fix: metrics not flushed at application shutdown
  libs/otlp/otlpmetrics/module.go
Labels: none

fix: metrics not flushed at application shutdown
  libs/otlp/otlpmetrics/module.go
Labels: none

feat: add logging
  libs/otlp/otlpmetrics/module.go
Labels: none

feat: allow digits prefixing accounts addresses
  pkg/api/controllers/transaction_controller_test.go
  pkg/core/account.go
  pkg/machine/script/NumScript.g4
  pkg/machine/script/compiler/compiler_test.go
  pkg/machine/script/parser/NumScriptLexer.interp
  pkg/machine/script/parser/numscript_lexer.go
Labels: none

wip fix compile errors
  pkg/core/bool.go
  pkg/core/funding.go
  pkg/core/value.go
  pkg/machine/_/account.go
  pkg/machine/_/address.go
  pkg/machine/_/allotment.go
  pkg/machine/_/allotment_test.go
  pkg/machine/_/asset.go
  pkg/machine/_/funding.go
  pkg/machine/_/funding_test.go
  pkg/machine/_/json.go
  pkg/machine/_/json_test.go
  pkg/machine/_/monetary.go
  pkg/machine/_/number.go
  pkg/machine/_/portion.go
  pkg/machine/_/portion_test.go
  pkg/machine/_/value.go
  pkg/machine/examples/basic.go
  pkg/machine/script/compiler/allotment.go
  pkg/machine/script/compiler/compiler.go
  pkg/machine/script/compiler/compiler_test.go
  pkg/machine/script/compiler/destination.go
  pkg/machine/script/compiler/source.go
  pkg/machine/vm/machine.go
  pkg/machine/vm/machine_conditionals_test.go
  pkg/machine/vm/machine_kept_test.go
  pkg/machine/vm/machine_overdraft_test.go
  pkg/machine/vm/machine_test.go
  pkg/machine/vm/program/expr.go
  pkg/machine/vm/program/program.go
  pkg/machine/vm/store.go
Labels: none

fix: remove debug
  pkg/machine/script/compiler/compiler_test.go
Labels: none

feat: remove-open-api-latest (#481)
  Taskfile.yaml
Labels: none

feat: remove-open-api-latest (#481)
  Taskfile.yaml
Labels: none

feat: upgrade telemetry to last stable version (#477)
  go.mod
  go.sum
  libs/go.mod
  libs/go.sum
  libs/otlp/otlpmetrics/module.go
  pkg/api/api.go
  pkg/api/middlewares/metrics_middleware.go
  pkg/opentelemetry/metrics/metrics.go
Labels: none

feat: upgrade telemetry to last stable version (#477)
  go.mod
  go.sum
  libs/go.mod
  libs/go.sum
  libs/otlp/otlpmetrics/module.go
  pkg/api/api.go
  pkg/api/middlewares/metrics_middleware.go
  pkg/opentelemetry/metrics/metrics.go
Labels: none

feat: fix balance resolution using variable
  pkg/machine/vm/machine.go
  pkg/machine/vm/machine_test.go
Labels: none

feat: fix balance resolution using variable
  pkg/machine/vm/machine.go
  pkg/machine/vm/machine_test.go
Labels: none

feat: keep last tx in memory
  pkg/storage/sqlstorage/logs.go
  pkg/storage/sqlstorage/store_ledger.go
  pkg/storage/sqlstorage/transactions.go
Labels: none

feat: keep last log in memory
  go.mod
  go.sum
  pkg/api/controllers/transaction_controller_test.go
  pkg/ledger/ledger.go
  pkg/storage/sqlstorage/commit.go
  pkg/storage/sqlstorage/driver.go
  pkg/storage/sqlstorage/logs.go
  pkg/storage/sqlstorage/store_ledger.go
Labels: none

feat: comment all useless actions
  .github/workflows/main.yml
Labels: @domain/ci

feat: cache volumes
  go.mod
  go.sum
  pkg/core/account.go
  pkg/ledger/ledger_test.go
  pkg/storage/sqlstorage/accounts.go
  pkg/storage/sqlstorage/aggregations.go
  pkg/storage/sqlstorage/store_ledger.go
  pkg/storage/sqlstorage/volumes.go
Labels: none

feat: add cuckoo filter
  Dockerfile
  go.mod
  go.sum
  pkg/storage/sqlstorage/accounts.go
  pkg/storage/sqlstorage/aggregations.go
  pkg/storage/sqlstorage/store_ledger.go
Labels: none

.github/labeler.yml:

'@domain/core':
  - core/*
  - core/**/*

'@domain/api':
  - api/*
  - api/**/*

'@domain/ledger':
  - ledger/*
  - ledger/**/*

'@domain/storage':
  - storage/*
  - storage/**/*

'@domain/cmd':
  - cmd/*
  - cmd/**/*

'@domain/ci':
  - .github/*
  - .github/**/*
