Repository formancehq/ledger, pull requests merged in 2021-12, with the labels that each got.

#82 Feature/storage factory
  .gitignore
  ledger/ledger.go
  ledger/ledger_test.go
  ledger/resolver.go
  storage/storage.go
Labels: @domain/ledger, @domain/storage

#81 Add GetTransaction Endpoints
  api/controllers/config_controller.go
  api/controllers/ledger_controller.go
  api/controllers/script_controller.go
  api/controllers/transaction_controller.go
  api/routes/routes.go
  storage/postgres/transactions.go
  storage/sqlite/transactions.go
Labels: @domain/api, @domain/storage

#83 Use sql.NullString to scan transaction reference
  ledger/ledger_test.go
  lib/perf.go
  storage/postgres/transactions.go
  storage/sqlite/transactions.go
Labels: @domain/ledger, @domain/storage

#87 Add Name() accessor on Storage interface.
  storage/postgres/store.go
  storage/sqlite/store.go
  storage/storage.go
Labels: @domain/storage

#86 Share PGSQL connection pool between ledgers.
  ledger/ledger_test.go
  storage/postgres/store.go
  storage/storage.go
Labels: @domain/ledger, @domain/storage

#88 Narrow down SQL schema for metadata. The code authorized to have empty values on some fields. This work has probably to be done on others tables columns.
  ledger/ledger.go
  storage/postgres/migration/v001.sql
Labels: @domain/ledger, @domain/storage

#89 feature/make stateless
  api/api.go
  api/controllers/account_controller.go
  api/controllers/config_controller.go
  api/controllers/controllers.go
  api/controllers/ledger_controller.go
  api/controllers/script_controller.go
  api/controllers/transaction_controller.go
  api/middlewares/auth_middleware.go
  api/middlewares/ledger_middleware.go
  api/middlewares/middlewares.go
  cmd/container.go
  cmd/container_test.go
  cmd/root.go
  cmd/stickers.go
  config/config.go
  go.mod
  go.sum
  ledger/executor.go
  ledger/executor_test.go
  ledger/ledger.go
  ledger/ledger_test.go
  ledger/lock.go
  ledger/resolver.go
  ledger/stats.go
  ledger/stats_test.go
  lib/perf.go
  storage/cached_storage.go
  storage/cached_storage_test.go
  storage/driver.go
  storage/factory.go
  storage/postgres/accounts.go
  storage/postgres/aggregations.go
  storage/postgres/driver.go
  storage/postgres/metadata.go
  storage/postgres/store.go
  storage/postgres/transactions.go
  storage/remember_config_storage.go
  storage/sqlite/accounts.go
  storage/sqlite/aggregations.go
  storage/sqlite/driver.go
  storage/sqlite/metadata.go
  storage/sqlite/store.go
  storage/sqlite/store_queries.go
  storage/sqlite/transactions.go
  storage/storage.go
Labels: @domain/api, @domain/ledger, @domain/storage, @domain/cmd

#90 Bind cobra flags on viper.
  cmd/root.go
  cmd/ui.go
  config/config.go
  ledger/ledger_test.go
Labels: @domain/ledger, @domain/cmd

#79 implement account and transaction filtering by metadata
  api/controllers/account_controller.go
  api/controllers/transaction_controller.go
  ledger/query/query.go
  storage/postgres/accounts.go
  storage/postgres/transactions.go
  storage/sqlite/accounts.go
  storage/sqlite/transactions.go
Labels: @domain/api, @domain/ledger, @domain/storage

#94 feature/unify sql store
  cmd/root.go
  go.mod
  go.sum
  ledger/ledger_test.go
  storage/driver.go
  storage/postgres/accounts.go
  storage/postgres/driver.go
  storage/postgres/metadata.go
  storage/postgres/store.go
  storage/sqlite/aggregations.go
  storage/sqlite/driver.go
  storage/sqlite/store.go
  storage/sqlite/transactions.go
  storage/sqlstorage/accounts.go
  storage/sqlstorage/aggregations.go
  storage/sqlstorage/driver.go
  storage/sqlstorage/driver_test.go
  storage/sqlstorage/metadata.go
  storage/sqlstorage/migrations/postgresql/v001.sql
  storage/sqlstorage/migrations/sqlite/v001.sql
  storage/sqlstorage/store.go
  storage/sqlstorage/store_test.go
  storage/sqlstorage/transactions.go
Labels: @domain/ledger, @domain/storage, @domain/cmd

#112 Revert "feature/unify sql store"
  cmd/root.go
  go.mod
  go.sum
  ledger/ledger_test.go
  storage/driver.go
  storage/postgres/accounts.go
  storage/postgres/aggregations.go
  storage/postgres/driver.go
  storage/postgres/metadata.go
  storage/postgres/migration/v001.sql
  storage/postgres/store.go
  storage/postgres/transactions.go
  storage/sqlite/accounts.go
  storage/sqlite/aggregations.go
  storage/sqlite/driver.go
  storage/sqlite/metadata.go
  storage/sqlite/migration/v001.sql
  storage/sqlite/store.go
  storage/sqlite/transactions.go
  storage/sqlstorage/driver.go
  storage/sqlstorage/driver_test.go
  storage/sqlstorage/store.go
  storage/sqlstorage/store_test.go
Labels: @domain/ledger, @domain/storage, @domain/cmd

#114 feature/unify sql store
  .github/workflows/pr_open.yml
  cmd/container.go
  cmd/container_test.go
  cmd/root.go
  cmd/root_test.go
  go.mod
  go.sum
  ledger/ledger_test.go
  ledger/resolver.go
  ledgertesting/testing.go
  storage/driver.go
  storage/factory.go
  storage/postgres/accounts.go
  storage/postgres/driver.go
  storage/postgres/metadata.go
  storage/postgres/store.go
  storage/sqlite/aggregations.go
  storage/sqlite/driver.go
  storage/sqlite/store.go
  storage/sqlite/transactions.go
  storage/sqlstorage/accounts.go
  storage/sqlstorage/aggregations.go
  storage/sqlstorage/driver.go
  storage/sqlstorage/driver_test.go
  storage/sqlstorage/metadata.go
  storage/sqlstorage/migrations/postgresql/v001.sql
  storage/sqlstorage/migrations/sqlite/v001.sql
  storage/sqlstorage/store.go
  storage/sqlstorage/store_test.go
  storage/sqlstorage/transactions.go
  storage/storage.go
Labels: @domain/ci, @domain/ledger, @domain/storage, @domain/cmd

#116 feature/introduce pkg
  cmd/container.go
  cmd/container_test.go
  cmd/root.go
  cmd/root_test.go
  go.mod
  go.sum
  pkg/api/api.go
  pkg/api/controllers/account_controller.go
  pkg/api/controllers/base_controller.go
  pkg/api/controllers/config_controller.go
  pkg/api/controllers/controllers.go
  pkg/api/controllers/ledger_controller.go
  pkg/api/controllers/script_controller.go
  pkg/api/controllers/transaction_controller.go
  pkg/api/middlewares/auth_middleware.go
  pkg/api/middlewares/ledger_middleware.go
  pkg/api/middlewares/middlewares.go
  pkg/api/routes/routes.go
  pkg/cluster/cluster.go
  pkg/cluster/node.go
  pkg/config/config.go
  pkg/core/account.go
  pkg/core/asset.go
  pkg/core/metadata.go
  pkg/core/posting.go
  pkg/core/posting_test.go
  pkg/core/script.go
  pkg/core/transaction.go
  pkg/core/transaction_test.go
  pkg/ledger/executor.go
  pkg/ledger/executor_test.go
  pkg/ledger/ledger.go
  pkg/ledger/ledger_test.go
  pkg/ledger/lock.go
  pkg/ledger/query/cursor.go
  pkg/ledger/query/query.go
  pkg/ledger/resolver.go
  pkg/ledger/stats.go
  pkg/ledger/stats_test.go
  pkg/ledger/verification.go
  pkg/ledger/verification_test.go
  pkg/ledgertesting/testing.go
  pkg/lib/perf.go
  pkg/storage/cached_storage.go
  pkg/storage/cached_storage_test.go
  pkg/storage/driver.go
  pkg/storage/factory.go
  pkg/storage/remember_config_storage.go
  pkg/storage/sqlstorage/accounts.go
  pkg/storage/sqlstorage/aggregations.go
  pkg/storage/sqlstorage/driver.go
  pkg/storage/sqlstorage/driver_test.go
  pkg/storage/sqlstorage/metadata.go
  pkg/storage/sqlstorage/migrations/postgresql/v001.sql
  pkg/storage/sqlstorage/migrations/sqlite/v001.sql
  pkg/storage/sqlstorage/store.go
  pkg/storage/sqlstorage/store_test.go
  pkg/storage/sqlstorage/transactions.go
  pkg/storage/storage.go
Labels: @domain/cmd

#118 Fix wrongly named imports due to the "pkg" package introduction.
  cmd/container.go
  cmd/container_test.go
  cmd/root.go
  pkg/api/routes/routes.go
  pkg/ledger/ledger_test.go
Labels: @domain/cmd

#122 Add request as param to LedgerLister
  cmd/container.go
  cmd/root.go
  pkg/api/controllers/config_controller.go
Labels: @domain/cmd
