Repository formancehq/ledger, pull requests merged in 2021-11, with the labels that each got.

#64 implement meta id and timestamp logic
  ledger/ledger.go
  ledger/query/cursor.go
  storage/postgres/accounts.go
  storage/postgres/aggregations.go
  storage/postgres/metadata.go
  storage/postgres/store.go
  storage/postgres/transactions.go
  storage/sqlite/accounts.go
  storage/sqlite/aggregations.go
  storage/sqlite/metadata.go
  storage/sqlite/transactions.go
  storage/storage.go
Labels: @domain/ledger, @domain/storage

#67 Add PGSQL in Test
  .github/workflows/pr_open.yml
  storage/postgres/transactions.go
Labels: @domain/ci, @domain/storage

#65 API refactoring
  api/api.go
  api/controllers/account_controller.go
  api/controllers/base_controller.go
  api/controllers/config_controller.go
  api/controllers/controllers.go
  api/controllers/ledger_controller.go
  api/controllers/script_controller.go
  api/controllers/transaction_controller.go
  api/http.go
  api/middlewares/auth_middleware.go
  api/middlewares/ledger_middleware.go
  api/middlewares/middlewares.go
  api/response.go
  api/routes/routes.go
  cmd/root.go
  config/config.go
  ledger/executor.go
  ledger/executor_test.go
  ledger/ledger.go
  ledger/ledger_test.go
Labels: @domain/api, @domain/ledger, @domain/cmd

#71 add account to query
  api/controllers/transaction_controller.go
Labels: @domain/api

#69 Add Swagger generator && Add Logger in JSON
  .github/workflows/main.yml
  .github/workflows/pr_open.yml
  .github/workflows/release.yml
  .gitignore
  Makefile
  api/controllers/account_controller.go
  api/controllers/config_controller.go
  api/controllers/ledger_controller.go
  api/controllers/script_controller.go
  api/controllers/transaction_controller.go
  api/routes/routes.go
  docs/docs.go
  go.mod
  go.sum
  main.go
  spec/http.yml
Labels: @domain/ci, @domain/api

#75 Update endpoint requests & responses specs
  api/controllers/account_controller.go
  api/controllers/base_controller.go
  api/controllers/script_controller.go
  api/controllers/transaction_controller.go
  core/account.go
  core/script.go
  core/transaction.go
  docs/docs.go
  go.mod
  go.sum
Labels: @domain/core, @domain/api

#78 feature(ci): Add bench output in PR
  .github/workflows/pr_open.yml
  Makefile
  go.mod
  go.sum
  ledger/ledger_test.go
  storage/sqlite/transactions.go
Labels: @domain/ci, @domain/ledger, @domain/storage
