Repository formancehq/ledger, pull requests merged in 2022-05, with the labels that each got.

#193 Use topic mapping feature from go-libs.
  cmd/container.go
  cmd/container_test.go
  go.mod
  go.sum
  pkg/bus/message.go
  pkg/bus/monitor.go
  pkg/bus/monitor_test.go
Labels: @domain/cmd

#194 ci: Improve docker build in CI & add cache
  .github/workflows/main.yml
  .github/workflows/release.yml
  Dockerfile
Labels: @domain/ci

#196 Add segment instrumentation.
  .github/workflows/main.yml
  .github/workflows/release.yml
  Dockerfile
  cmd/container.go
  cmd/root.go
  go.mod
  go.sum
  pkg/analytics/segment.go
Labels: @domain/ci, @domain/cmd

#203 Add support of claim 'scope' (https://datatracker.ietf.org/doc/html/rfc8693)
  .github/workflows/release.yml
  cmd/container.go
  cmd/root.go
  go.mod
  go.sum
  pkg/api/api.go
  pkg/api/routes/routes.go
Labels: @domain/ci, @domain/cmd

#206 fix/gin middleware
  .github/workflows/build_branch.yml
  .github/workflows/pr_open.yml
  .github/workflows/release.yml
  cmd/container.go
  pkg/api/routes/routes.go
Labels: @domain/ci, @domain/cmd

#204 Improve Makefile
  Makefile
  docker-compose.yml
Labels: enhancement, good first issue
