Repository formancehq/ledger, pull requests merged in 2022-07, with the labels that each got.

#262 ci: PR Name & Commit Style is not a blocker for all CI
  .github/workflows/pr_open.yml
Labels: @domain/ci

#244 ci: GoReleaser & Run Test for every Release
  .github/workflows/release.yml
  .goreleaser.yml
Labels: @domain/ci

#247 chore: remove duplicate go mod vendor
  sdk/templates/go/Taskfile.yml.mustache
Labels: good first issue

#291 fix: SDK Publisher
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .github/workflows/template_docker.yaml
  .github/workflows/template_sdk-generate.yaml
  .github/workflows/template_sdk-publish.yaml
  sdk/templates/go/Taskfile.yml.mustache
  sdk/templates/php/Taskfile.yml.mustache
  sdk/templates/python/Taskfile.yml.mustache
  sdk/templates/typescript/Taskfile.yml.mustache
Labels: @domain/ci

#277 feat: Add migration for pre/post commit volumes
  cmd/root.go
  go.mod
  go.sum
  pkg/core/volumes.go
  pkg/storage/sqlstorage/migrates/9-add-pre-post-volumes/any.go
  pkg/storage/sqlstorage/migrates/9-add-pre-post-volumes/any_test.go
  pkg/storage/sqlstorage/register.go
Labels: @domain/cmd

#284 chore: remove storage cache
  cmd/container.go
  pkg/storage/cache.go
  pkg/storage/cache_test.go
Labels: @domain/cmd

#287 feat: Disable segment feature for non released version
  cmd/container.go
  go.mod
Labels: @domain/cmd

#298 fix: Improve Github workflows
  .github/workflows/main.yml
  .github/workflows/template_golang-test-pgsql.yaml
  .github/workflows/template_goreleaser-build.yaml
  .github/workflows/template_goreleaser-release.yaml
  pkg/ledger/process.go
Labels: @domain/ci

#305 fix: Add UI in Docker Image
  .github/workflows/template_docker.yaml
Labels: @domain/ci

#301 refactor: from Makefile to Taskfile
  .github/workflows/codeql.yml
  Makefile
  README.md
  Taskfile.yaml
  pkg/storage/sqlstorage/store_bench_test.go
Labels: @domain/ci
