Repository formancehq/ledger, pull requests merged in 2022-06, with the labels that each got.

#222 Fix env var on release pipeline.
  .github/workflows/release.yml
Labels: @domain/ci

#217 NUM-384 filters account by their balance
  go.mod
  go.sum
  pkg/api/controllers/account_controller.go
  pkg/api/controllers/account_controller_test.go
  pkg/api/controllers/pagination_test.go
  pkg/api/controllers/script_controller_test.go
  pkg/api/controllers/swagger.yaml
  pkg/api/controllers/transaction_controller.go
  pkg/ledger/ledger.go
  pkg/ledger/query/accounts.go
  pkg/ledger/query/transactions.go
  pkg/ledger/stats.go
  pkg/opentelemetry/opentelemetrytraces/storage.go
  pkg/opentelemetry/opentelemetrytraces/storage_test.go
  pkg/storage/accounts.go
  pkg/storage/sqlstorage/accounts.go
  pkg/storage/sqlstorage/accounts_test.go
  pkg/storage/sqlstorage/aggregations.go
  pkg/storage/sqlstorage/migrations_test.go
  pkg/storage/sqlstorage/pagination.go
  pkg/storage/sqlstorage/store_bench_test.go
  pkg/storage/sqlstorage/store_test.go
  pkg/storage/sqlstorage/transactions.go
  pkg/storage/storage.go
  pkg/storage/transactions.go
Labels: api/http

#220 ci: Update CODEOWNERS
  .github/CODEOWNERS
Labels: @domain/ci

#230 General refactoring before NUM-556
  cmd/container_test.go
  pkg/api/controllers/transaction_controller.go
  pkg/ledger/executor.go
  pkg/ledger/executor_test.go
  pkg/ledger/ledger.go
  pkg/ledger/ledger_test.go
  pkg/ledger/resolver.go
Labels: @domain/cmd

#240 fix: Fix http basic flag.
  cmd/container.go
  cmd/doc.go
  cmd/internal/env.go
  cmd/internal/http_basic.go
  cmd/internal/http_basic_test.go
  cmd/root.go
Labels: @domain/cmd

#242 feat: Add Pull Request Template
  .github/pull_request_template.md
Labels: @domain/ci

#249 ci: Add Codecov in main branch
  .github/workflows/main.yml
Labels: @domain/ci
